extends layout

block content
    h3 Program Name : #{program.name}
    form(method='GET', action='/programs/detail/')
        #form-group
            label Exercises:
               table(style='width:100%', border='1')
                tr
                    th Name
                    th Description
                    th Sets
                    th Reps/Time
                each exercise in program.exercises
                    tr 
                        td #{exercise.name}
                        td #{exercise.description}
                        td #{exercise.set}
                        td #{exercise.reps}
                        